@charset "utf-8";

/* ==========================================================================
	Table of Content:
	`````````````````
	* To keep an overview of structure of your code, we make use of table of 
	* content. Table of content is use display the overall tree structure of your
	* Layout. 
	* (NOTE: Remove this commented code once you start developing the code.
	* Remove the following table of content and add your own as this is just and 
	* example to let you know)
	
	1. Eric Meyer's CSS Reset Code
	2. Clear Fix
	3. Font-Face Declaration
	4. Common Stylings
	5. Header
	6. Main 
		6.1 Enter Section Name
		6.2 Enter Section Name
		6.3 Enter Section Name
	7. Footer
========================================================================== */

/* 1. Eric Meyers Reset
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
========================================================================== */

html, body, div, span, applet, object, iframe,
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
 cursor: pointer;
}

strong {
 font-weight: bold;
 font-family: inherit;
 font-size: inherit;
}

em { font-style: italic; }

img {
 border: 0;
 vertical-align: middle;
}

sub,
sup {
 vertical-align: baseline;
 position: relative;
 font-size: 55%;
 line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2 Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 3. Font-Face declaration
========================================================================== */

@font-face{
  font-family: 'MyWebFont';
  src: url('../vendor/webfonts/titillium_web/TitilliumWeb-Regular.ttf') format('truetype'); 
}

 /* ======= Your styling goes below ======= */

 /* 4. Common Stylings
========================================================================== */

body { 
	font-family: 'MyWebFont', sans-serif;
	scroll-behavior: smooth;
}
ul { list-style-type: none; }

a { 
	display: inline-block;
	text-decoration: none;
	color: white;
}

h2 { 
	color: #fff; 
	font-size: 40px;
	line-height: 60px; 
}

h3 { 
	color: #414a89; 
	font-size: 33px;
	line-height: 53px; 
}

p { 
	color: #4d4d4d;
	font-size: 17px;
	line-height: 29px; 
}

 /* 5. Wrapper
========================================================================== */
.wrapper{
	max-width: 1464px;
	width: 86.25%;
	margin: 0 auto;
}
 /* 6. Header
========================================================================== */

/* Top Header */

.top { background: #414a89; }
.top a { color: #fff; }

.top li { 
	padding: 0 5px;
	display: inline-block; 
}

.top li:last-child { padding-right: 0; }

.top .wrapper {	
	padding: 10px 0;
	text-align: right; 
}

/* Main Header */
.main-header { background: linear-gradient(#fff,#e0d9d9); }

nav li { 
	float: left; 
	padding: 10px;
}
nav li a{
	color: #4d4d4d;
	font-size: 15px 10px;
	line-height: 24px;
}
nav li a:hover{
	color: #6173f4;
}
nav { 
	float: right;
	padding: 10px 0;
}
nav li:last-child{padding-right: 0;}

h1 {
	display: inline-block;
}
.first-name{
	font-weight: 600;
    letter-spacing: .9px;
    font-size: 20px;
    color: #4d4d4d;
}
.second-name{
	font-weight: 400;
    letter-spacing: .9px;
    font-size: 20px;
    color: rgba(77,77,77,.85);
}
h1{
	display: inline-block;
	padding: 20px 0;
}

/* 7. Banner
========================================================================== */

.banner{
	background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/header-min.jpg') no-repeat center center fixed;
	background-size: cover;
	padding: 160px 0;
	text-align: center;
}
h2{padding: 0 0 40px 0;}
.banner button{
	background: #0e3570 ;
	border-radius: 18px;
	padding: 20px 43px;
	font-size: 15px;
	border-color: transparent;
}
/* 8. About Section
========================================================================== */

.about {
	padding: 45.8px 0;
	text-align: center;
	color: #4d4d4d;
}
.about p{
	text-align: justify;
}
/* 9. Services Section
========================================================================== */

.services{
	text-align: center;
	color: #4d4d4d;
	background: #f1f1f1;
	padding: 28px;
}
.services ul li{
	display: inline-block;
	padding: 50px 50px 50px 80px;
	text-align: center;
}
.services ul li img{
	height: 140px;
}
.services h4{
	color: #4d4d4d;
	font-size:25px; 

}
/* 10. How We Work Section
========================================================================== */

.work{
	text-align: center;
	color: #4d4d4d;
	padding: 28px;
}
.work ul{
	text-align: justify;
	padding: 35px 25px;
}
.work li{
	padding: 0px 115px;
}
.work li p{font-size:15px;}

/* 11.Contact Section
========================================================================== */

.contact{
	background-color: #f1f1f1;
    color: #4d4d4d;
    padding: 50px;
    text-align: center;
}
p{
	padding: 11px 42px;
	text-align: left; 
	font-weight: 400;
	color: #7b7676;
}

.contact form{
	padding: 11px 42px;
}
.contact form input{
	display: block;
	width: 50%;
	padding: 10px 10px;
	margin: 0 0 25px 0;
}
.contact form input[type="submit"]{
    font-size: 15px;
    background-color: #0e3570;
    outline: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 12%;

}
.contact form textarea{
	display: block;
	width: 50%;
	padding: 10px 10px;
	margin: 5px 0 13.5px 0;
}

/*contact details*/

.contact-details{
	background-color: #666;
    color: #fff;
    padding:50px 50px;
}
.contact-details li{
	padding: 15px;
	font-size: 20px;
}
/* 12.footer Section
========================================================================== */

footer{
	background-color: #74beec;
    padding:15px 0;
}
footer p{
	color: #4d4d4d;
	font-weight: 400;
	font-size: 13px;
}
